.scroll-indicator {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #00aacc, #0077aa); /* Gradient background */
}

.arrow-icon {
  font-size: 24px;
  color: #fff; /* Icon color on the gradient background */
}
