.scroll-indicator {
  position: fixed;
  bottom: 10px;
  right: 10px; /* Adjust the right distance as needed */
  width: 40px; /* Set the width and height for a rounded shape */
  height: 40px;
  border-radius: 50%; /* Make it rounded */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #00aacc, #0077aa); /* Gradient background */
}

.arrow-icon {
  font-size: 24px;
  color: #fff; /* Icon color on the gradient background */
}
